@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Akron</h1>
            <p>Emulsion Plant</p>
        </div>

        @*<h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li><p></p></li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li><p></p></li>
        </ul>*@

    </div>
    <div class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/akron1.jpg" />
        <img src="~/Content/Images/akron2.jpg" />
        <img src="~/Content/Images/akron3.jpg" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>990 Hazel Street</li>
            <li>Akron, Ohio 44305-1610</li>
            <li>Telephone 330-733-0400</li>
            <li>Fax 330-733-8792</li>
        </ul>

        <h2>Plant Manager</h2>
        <ul>
            <li>Doug Raess</li>
            <li>330-815-0016</li>
            <li></li>
            <li></li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.526812192499!2d-81.48650144871534!3d41.07933487919203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883129b1b64cf1bd%3A0xa4aecd15fb5de062!2s990+Hazel+St%2C+Akron%2C+OH+44305!5e0!3m2!1sen!2sus!4v1559911912758!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


