@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}


<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Asheville</h1>
            <p>Emulsion Plant</p>
        </div>
        @*<h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li></li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li></li>
        </ul>*@
    </div>
    <div class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/asheville/asheville1.jpg" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>1561 Grovestone Road</li>
            <li>Black Mountain, North Carolina 28711</li>
            <li>Telephone 828-686-3011</li>
            <li>Fax 828-686-3014</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.849656697284!2d-82.36536004875238!3d35.60677498011454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8859f99596a84d5d%3A0xc4ee624197e3b764!2s1561+Grovestone+Rd%2C+Black+Mountain%2C+NC+28711!5e0!3m2!1sen!2sus!4v1559912040794!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
