@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Baltimore</h1>
            <p>Emulsion Plant</p>
        </div>

        @*<h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li></li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li></li>
        </ul>*@
    </div>
    <div  class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/bmore.jpg"/>        
        <img src="~/Content/Images/bmore2.jpg"/>
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>3450 Asiatic Avenue</li>
            <li>Baltimore, Maryland 21226-1506</li>
            <li>Telephone 410-355-6363</li>
            <li>Fax 410-355-6364</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3090.3919589841485!2d-76.5713136486682!3d39.23397317941962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c80237aa62ca4f%3A0x6fad59b195144969!2s3450+Asiatic+Ave%2C+Baltimore%2C+MD+21226!5e0!3m2!1sen!2sus!4v1559912154296!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

