@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}


<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Chambersburg</h1>
            <p>Emulsion Plant</p>
        </div>

        <h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li>E-1-Prime</li>
            <li>Tack</li>
            <li>CRS-1H</li>
            <li>CRS-2</li>
            <li>CRS-2PM</li>
            <li>CMS-2S (E12)</li>
            <li>CMS-2SPM(E12PM)</li>
            <li>LBM</li>
            <li>Alpha-Bond</li>
            <li>Grip Tight</li>
            <li>CNTT</li>
            <li>MC-70</li>
            <li>RC-250</li>
        </ul>



    </div>
    <div class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/chambersburg/finished-tank.jpg" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>118 Siloam Road</li>
            <li>Chambersburg, Pennsylvainia 17201</li>
            <li>Telephone 717-263-0434</li>
            <li>Office Fax 717-264-8924 / Plant Fax 717-263-7076</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.24641976989!2d-77.64781674865051!3d39.95824297932002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c99e0e8e717761%3A0x2937c365526a6093!2s118+Siloam+Rd%2C+Chambersburg%2C+PA+17201!5e0!3m2!1sen!2sus!4v1559912181233!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

