@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}


<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Greensboro</h1>
            <p>Emulsion Plant</p>
        </div>

        @*<h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li></li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li></li>
        </ul>*@
    </div>
    <div class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/greensboro/124.JPG" />
        <img src="~/Content/Images/greensboro/119.JPG" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>1124 South Holden Road</li>
            <li>Greensboro, North Carolina 27407</li>
            <li>Telephone 336-292-6875</li>
            <li>Fax 336-292-6076</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.447408829649!2d-79.84471344874223!3d36.05818988001039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88531bcf8d9155a7%3A0xfa0f2741286ef78c!2s1124+S+Holden+Rd%2C+Greensboro%2C+NC+27407!5e0!3m2!1sen!2sus!4v1559912246015!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

