@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Mars</h1>
            <p>Pavement Preservation Facility</p>
        </div>

        <h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li>MC70</li>
            <li>Tack</li>
            <li>CRS-1H</li>
            <li>E1-Prime</li>
            <li>CRS-2</li>
            <li>CRS-2PM</li>
            <li>CMS-2</li>
            <li>CMS-2S(E12)</li>
            <li>CMS-2S PM (E12 PM/PolyPave)</li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li>Grip Tight</li>
            <li>JASA-HP</li>
        </ul>

    </div>
    <div  class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/mars1.jpg" />
        <img style="width: 300px; height: auto; object-fit:contain;" src="~/Content/Images/mars-paving.jpg" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>171 Seventh Avenue</li>
            <li>Valencia, Pennsylvainia 16059</li>
            <li>Telephone 800-477-1505 or 724-625-1505</li>
            <li>Fax 724-625-1760</li>
            <li>P.O. Box 802 Mars, PA 16046</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.4706087169134!2d-80.00304094863255!3d40.68563197923337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88348f562ec5d77f%3A0xbc9249e786ff14a!2s171+7th+Ave%2C+Valencia%2C+PA+16059!5e0!3m2!1sen!2sus!4v1559912278527!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

