@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

<div class="locations-entryway-image">

</div>
<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Mercer</h1>
            <p>Emulsion Plant</p>
        </div>

        <h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li>MC70</li>
            <li>Tack</li>
            <li>CRS-1H</li>
            <li>E1-Prime</li>
            <li>CSS-1H</li>
            <li>CSS-1HL/PM</li>
            <li>CRS-2</li>
            <li>CRS-2PM</li>
            <li>CMS-2</li>
            <li>CMS-2S(E12)</li>
            <li>PG 64-22</li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li>CMS-2S PM (E12 PM/PolyPave)</li>
            <li>Grip Tight</li>
            <li>JASA-HP</li>
        </ul>


    </div>
    <div  class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/mercer.jpg" />
        <img src="~/Content/Images/mercer1.jpg" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>1210 Perry Highway</li>
            <li>Mercer, Pennsylvainia 16137</li>
            <li>Telephone 1-800-860-3702 or 724-748-3700</li>
            <li>Fax 724-748-4405</li>
            <li>P.O. Box 509 Mercer, PA 16137-0509</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.1933576468928!2d-80.23408224862027!3d41.17394967918273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883398882bdcb32b%3A0x700416b8e5c4315d!2s1210+Perry+Hwy%2C+Mercer%2C+PA+16137!5e0!3m2!1sen!2sus!4v1559912327577!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
