@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

<div class="locations-grid">
    <div>
        <!-- 1 -->
        <div class="location-tag">
            <h1>Reading</h1>
            <p>Emulsion Plant</p>
        </div>

        <h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li>AET</li>
            <li>Tack</li>
            <li>CSS1H</li>
            <li>AEP</li>
            <li>CRS-2</li>
            <li>CRS-2PM</li>

        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li>CSS-1H Eng</li>
            <li>CSS1HPM</li>
            <li>CQS1HPM</li>
        </ul>


    </div>
    <div  class="locations-grid-images">
        <!-- 2 -->
        <img src="~/Content/Images/reading/reading1.jpg"/>
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>3847 Pottsville Pike</li>
            <li>Reading, Pennsylvainia 19605</li>
            <li>Telephone 610-921-0271</li>
            <li>Fax 610-921-1477</li>
        </ul>
        <div class="locations-maps">
            <div>
                <p></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.678115615311!2d-75.93729094863978!3d40.39382607926638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c677b75a2eaaab%3A0xbec02897660e7cdb!2s3847+Pottsville+Pike%2C+Reading%2C+PA+19605!5e0!3m2!1sen!2sus!4v1559912427295!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

