@{
    Layout = "~/Views/Shared/_LocationsLayout.cshtml";
}

<div class="locations-grid">
    <div>
        <!-- 1 -->

        <h2>Products available at this location</h2>
        <ul class="locations-product-ul">
            <li></li>
        </ul>

        <h2>Specialty Products Available Upon Request</h2>
        <ul>
            <li></li>
        </ul>
    </div>
    <div>
        <!-- 2 -->
        <img src="~/Content/Images/pic_190.jpg" />
        <img src="~/Content/Images/towers_edited.jpg" />
        <img src="~/Content/Images/building1.jpg" />
    </div>
    <div>
        <!-- 3 -->
        <h2>Address</h2>
        <ul>
            <li>3580 Wheelertown Road</li>
            <li>Waterford, Pennsylvainia 16441</li>
            <li>Telephone 814-438-4724</li>
            <li>Fax 814-806-3880</li>
        </ul>
    </div>

</div>
