@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div class="about-section">
        <p>Lake Erie Traffic Control was created to help serve a market of contractors needing top quality traffic control equipment.</p>
    </div>


    <div class="splash-box">
        <div class="splash-box-paragraph">
            <p>
                Lake Erie Traffic Control was created to help serve a market of
                contractors needing top quality traffic control equipment.
            </p>
        </div>

        @*<img style="opacity: .6;" src="~/Content/images/cone-canvas.jpg" alt="drawing of a traffic cone" />*@
    </div>
    <div style="grid-column: 2 / 8; text-align:right;">
        <video width="320" height="240" controls><source src="~/Content/images/blend4.mp4" type="video/mp4" /></video>
    </div>


    @*<img src="~/Content/images/cool2.jpg" alt="edited image of an intersection" />*@

</body>
</html>
