@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="hero-container">
        <div class="hero-inner" id="hero-img">
            <div class="hero-logo">

            </div>
        </div>
    </div>

    <div class="letc-grid">
        <div class="letc-row-1">
            <div class="col-1">
                <h2>Our Goal</h2>
                <p>Lake Erie Traffic Control is your local provider of traffic control equipment for today’s Work Zones.</p>
                @*<img src="~/Content/images/letc1.jpg" />*@
                <img src="~/Content/images/tcc2.jpg" />
            </div>
            <div class="col-2">
                <h2>Quality</h2>
                <p>
                    We offer high quality products and equipment that can be utilized to solve your traffic control needs.
                    These products are available for Purchase or Rental at our location.
                </p>
                @*<img src="~/Content/images/letc2.jpg" />*@
                <img src="~/Content/images/tcc3.jpg" />
            </div>
            <div class="col-3">
                <h2>Safety</h2>
                <p>
                    At Lake Erie Traffic Control safety in the Work Zone is our number one core value.
                    We strive to ensure this value is at the forefront when providing services to the customer and during our own internal operations.
                </p>
                @*<img src="~/Content/images/letc3.jpg" />*@
                <img style="object-position: left;" src="~/Content/images/tcc.jpg" />
            </div>
        </div>
    </div><!-- End LETC grid -->

    <div class="staggered-box">
        <div>
            <div></div>
        </div>
        <div>
            <div></div>
        </div>
        <div>
            <div></div>
        </div>
        <div>
            <div></div>
        </div>
        <div>
            <div></div>
        </div>
        <div>
            <div></div>
        </div>
        <div>
            <div></div>
        </div>
    </div>

    <div class="willow">

        <div>
            <h2>High quality equipment</h2>
            <p>
                We offer high quality products and equipment that can be utilized to solve your traffic control needs.
                These products are available for Purchase or Rental at our locations.
            </p>
        </div>

        <div>
            <h2>Ensuring a safe working environment</h2>
            <p>
                At Lake Erie Traffic Control safety in the Work Zone is our number one core value.
                We strive to ensure this value is at the forefront when providing services to the customer and during our own internal operations.
            </p>
        </div>
    </div>

    <div class="dojo-wrapper">
        <div class="dojo-box">
            <div class="dojo">
                <p>
                    At Lake Erie Traffic Control safety in the Work Zone is our number one core value.
                    We strive to ensure this value is at the forefront when providing services to the customer and during our own internal operations.
                </p>
                @Html.ActionLink("About", "about", "Home")
            </div>
            @*<img src="~/Content/images/letc5.jpg" />*@
            <div class="dojo-image">
                <div>
                    <p>Quality</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mosquito-wrapper">
        <div class="mosquito-box">
            @*<img src="~/Content/images/letc4.jpg" />*@
            <div class="mosquito-image">
                <div>
                    <p>Safety</p>
                </div>
            </div>
            <div class="mosquito">
                <p>
                    We offer high quality products and equipment that can be utilized to solve your traffic control needs.
                    These products are available for Purchase or Rental at our locations.
                </p>
                @Html.ActionLink("Shop", "shop", "Home")
            </div>
        </div>
    </div>

    <div class="gallery-wrapper">
        <div class="gallery-box">
            <h2>Recent Work</h2>
            <img class="fade-in-bottom" src="~/Content/images/letc2.jpg" />

            <img class="fade-in-bottom" src="~/Content/images/letc1.jpg" />

            <img class="fade-in-bottom" src="~/Content/images/letc3.jpg" />

            <img class="fade-in-bottom" src="~/Content/images/letc4.jpg" />

            <img class="fade-in-bottom" src="~/Content/images/letc5.jpg" />
        </div>
    </div>

    <div class="reasons-wrapper">
        <div class="reasons">

            <ul class="reasons-list">
                <li><h2>We offer many products and services</h2></li>
                <li><p>Traffic cones</p></li>
                <li><p>Barriers</p></li>
                <li><p>Road signs</p></li>
            </ul>
            <ul class="reasons-list">
                <li><h2>Heres where you can find them</h2></li>
                <li><p>Through our online store here</p></li>
                <li><p>By contacting us through our online form here</p></li>
            </ul>
        </div>
    </div>
    <section class="carrot">
        <div class="carrot-box">
            <div>
                <img src="~/Content/images/blip2.jpg" />
                <p>*Diamond gradient sheeting material used on reflective safety equipment.</p>
            </div>
            <div>
                <img src="~/Content/images/m.jpg" />
                <p>*Diamond gradient sheeting material used on reflective safety equipment.</p>
            </div>
            <div>
                <img src="~/Content/images/w.jpg" />
                <p>*Diamond gradient sheeting material used on reflective safety equipment.</p>
            </div>
        </div>

    </section>

    <div class="universe">
        <div>
            <p>Products and services...</p>
        </div>

        <a>Shop</a>
    </div>

    <section class="slide-section">
        <div class="slide-box">
            <div class="fade-in-bottom">
                <p class="sliz">Strong culture of safety</p>
            </div>
            <div class="fade-in-bottom">
                <p class="sliz">Quick and reliable work</p>
            </div>
            <div class="fade-in-bottom">
                <p>Low downtime</p>
            </div>
            <div class="fade-in-bottom">
                <p>State of the art equipment</p>
            </div>
            <div class="fade-in-bottom">
                <p>Years of experience</p>
            </div>
            <div class="fade-in-bottom">
                <p>Solid reputation</p>
            </div>
        </div>
    </section>

</body>
</html>



