@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Hammaker East";
}
<head>
    <title>@ViewBag.Title</title>
    <style>
        /*.navbar-title > a {
            width: 240px;
            background: url("../Content/Images/trademarks/Hammaker-logo.svg") center no-repeat;
            background-size: contain;
        }*/
    </style>
</head>
@RenderBody()