@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Sterlingwood";
}

<head>
    <title>@ViewBag.Title</title>
    <style>
        .navbar-title > a {
            width: 80px;
            background: url("../Content/Images/trademarks/sw.png") center no-repeat;
            background-size: contain;
        }
    </style>
</head>
@RenderBody()