@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

    <div class="products-grid">
        <div class="products-grid-image">
            <!-- 1 -->
        </div>

        <div class="products-text-row">
            <div>
                <ul>
                    <li>
                        <p id="put-quote1"></p>
                    </li>
                </ul>
            </div>
            <h2>This proprietary material can be used as either a binder or wearing course and requires no chip seal to seal the surface</h2>
            <p>
                FB-3 Modified Wearing Course, or Flexible Base, is a multi-purpose,
                ambient temperature asphalt for use on existing streets and roadways.
                This proprietary material can be used as either a binder or wearing course and requires no chip seal to seal the surface.
                This material will perform well on roads with below standard and weak base courses.
                <span id="pull-quote1">
                    This material remains very elastic and pliable
                </span> at temperatures ranging from
                32 degrees Fahrenheit to 100 degrees Fahrenheit, and yields a durable, long lasting surface.
            </p>
        </div>

        <div style="grid-column: 5 / -1;">
            <ul>
                <li>Flexible, pliable material that reverts to its original structure after a freeze-thaw cycle</li>
                <li>Extends paving season</li>
                <li>Highly resilient – ideal alternative where rigid pavement fail</li>
                <li>Performs well on roads with weak base courses</li>
            </ul>
        </div>

    </div>


    <div class="products-sidebar-right">
        <div class="products-sidebar-right-header">
            <h1>Get the brochure</h1>
        </div>
        <div>
            <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/flex-base.pdf">
                <img src="~/Content/Images/brochures/flex-base.jpg" alt="Flex Base" />
            </a>
        </div>


        <div class="products-sidebar-right-header">
            <h1>Safety Data Sheet</h1>
        </div>
        <div>
            <img src="~/Content/Images/sds/grip-tight.jpg" />
        </div>

    </div>

