@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

    <div class="products-grid">
        <div class="products-grid-image">
            <!-- 1 -->
            <img src="~/Content/Images/fibermat/FiberMat1.jpg" />
            <img src="~/Content/Images/fibermat/FiberMat4.jpg" />
        </div>


        <div class="products-text-row">
            <div>
                <ul>
                    <li>
                        <p id="put-quote1"></p>
                    </li>
                </ul>
            </div>
            <h2>A Russell Standard surfaced sealing system</h2>
            <p>
                <span id="pull-quote1">A Russell Standard surface sealing system</span>, FiberMat is the ultimate crack inhibiting membrane process.
                This patented process combines polymer modified asphalt emulsion with chopped glass fiber strands to create a
                membrane that absorbs stresses and therefore delays cracking. This process can be used as an aggregate covered wearing surface
                or as a stress absorbing membrane interlayer when covered with an asphalt overlay. Russell Standard holds the FiberMat license through Colas Solutions.


            </p>
        </div>

        <div style="grid-column: 5 / -1;">
            <ul>
                <li>Reduces reflective cracking and extends pavement life</li>
                <li>Increases road tensile strength and flexibility</li>
                <li>Makes traffic-ready roadways within 30 minutes</li>
                <li>Applies to all traffic volumes</li>
                <li>Bonds well to concrete and asphalt surfaces</li>
                <li>A PennDOT approved system – eligible for liquid fuels funds</li>
                <li>A NCDOT approved system</li>
            </ul>
        </div>

    </div>


<div class="products-sidebar-right">

    <div class="products-sidebar-right-header">
        <h1>Get the brochure</h1>
    </div>
    <div>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/fiber-mat.pdf">
            <img src="~/Content/Images/brochures/fiber-mat.jpg" alt="Fiber Mat" />
        </a>
    </div>

    <div class="products-sidebar-right-header">
        <h1>Safety Data Sheet</h1>
    </div>
    <div>
        <img src="~/Content/Images/sds/grip-tight.jpg" />
    </div>

</div>

