@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}


<div class="products-grid">
    <div class="products-grid-image">
        <!-- 1 -->
        <img src="~/Content/Images/griptight/griptight1.jpg" alt="Grip Tight" />
        <img src="~/Content/Images/griptight/griptight2.jpg" alt="Grip Tight" />
    </div>


    <div class="products-text-row">
        <div>
            <ul>
                <li>
                    <p id="put-quote1"></p>
                </li>
            </ul>
        </div>
        <p>
            <span id="pull-quote1">Grip-Tight also cures quickly after application</span> allowing for vehicle traffic back on the roadway within just
            30 minutes of application. Additionally, the deep black color retains heat, helping to melt ice and snow quicker than untreated roads.
        </p>
    </div>

    <div style="grid-column: 5 / -1;">
        <!-- 2 -->
        <h2>Grip-Tight is a highly polymerized asphalt emulsion</h2>
        <p>
            Grip-Tight is a highly polymerized asphalt emulsion, specially designed for fog seal and flush coat applications.
            Perfect for roadway shoulder preservation, this high performance, proprietary product locks and holds aggregate in place exceptionally well.
        </p>
    </div>

    <div class="products-grid-list">
        <ul>
            <li>Preserves roadway shoulders, extending life up to 2 to 3 times their normal expectancy</li>
            <li>Locks down excess chip – better wearing surface</li>
            <li>Traffic ready in 30 minutes</li>
            <li>Eliminates dust from newly chip-sealed roads</li>
            <li>Eliminates the need for sand application</li>
            <li>Leaves asphalt black for best contrast against striping</li>
            <li>Tougher – polymer plus hard asphalt</li>
            <li>Non-tracking – won’t stain bridge decks or concrete aprons</li>
            <li>Assists in mitigating minor reflective cracking</li>
        </ul>
    </div>
</div>

<div class="products-sidebar-right">
    <div class="products-sidebar-right-header">
        <h1>Get the brochure</h1>
    </div>
    <div>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/grip-tight.pdf">
            <img src="~/Content/Images/brochures/grip-tight.jpg" alt="Grip Tight" />
        </a>
    </div>

    <div class="products-sidebar-right-header">
        <h1>SDS</h1>
    </div>
    <div>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/sds/grip-tight-sds.PDF">
            <img src="~/Content/Images/sds/grip-tight.jpg" />
        </a>
    </div>

</div>
