@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

<div class="products-home-container">
    <div>
        <!-- 1 -->
        <p>Bituminous Seal Coat</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/bituminous-seal-coat.pdf">
            <img src="~/Content/Images/brochures/bituminous-seal-coat.jpg" alt="Bituminous Seal Coat" />
        </a>
    </div>
    <div>
        <!-- 2 -->
        <p>Fiber Mat</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/fiber-mat.pdf">
            <img src="~/Content/Images/brochures/fiber-mat.jpg" alt="Fiber Mat" />
        </a>
    </div>
    <div>
        <!-- 3 -->
        <p>Flex Base</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/flex-base.pdf">
            <img src="~/Content/Images/brochures/flex-base.jpg" alt="Flex Base" />
        </a>
    </div>
    <div>
        <!-- 4 -->
        <p>Grip Tight</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/grip-tight.pdf">
            <img src="~/Content/Images/brochures/grip-tight.jpg" alt="Grip Tight" />
        </a>
    </div>
    <div>
        <!-- 5 -->
        <p>Jasa HP</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/jasahp-light.pdf">
            <img src="~/Content/Images/brochures/jasahp-light.jpg" alt="Jasa HP" />
        </a>
    </div>
    <div>
        <!-- 6 -->
        <p>Manufacturing Expertise</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/manufacturing.pdf">
            <img src="~/Content/Images/brochures/manufacturing.jpg" alt="Manufacturing Expertise" />
        </a>
    </div>
    <div>
        <!-- 7 -->
        <p>Overview</p>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/brochures/overview.pdf">
            <img src="~/Content/Images/brochures/overview.jpg" alt="Overview" />
        </a>
    </div>
</div>



