@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

<div class="products-grid">
    <div class="products-grid-image">
        <!-- 1 -->

    </div>


    <div class="products-text-row">
        <div>
            <ul>
                <li>
                    <p id="put-quote1"></p>
                </li>
            </ul>
        </div>
        <p>
            JASA-HP
            <span id="pull-quote1">JASA-HP, our highest-grade, best performing cold patch, is designed for mild to extreme winter conditions.</span>
            This high-performance asphalt patching material can be used in all temperature ranges and works in water.
            JASA-HP incorporates asphalt with the most advanced adhesion promoter and anti-strip engineered to produce a permanent patch,
            which allows the material to coat 100% regardless of moisture. By engineering JASA-HP to act like water, the materials can
            be mixed requiring no heat in a pug mill on-site or in an asphalt plant. This reduces the overall cost to produce the finished
            product by reducing the energy cost incurred to heat the aggregate.
             
        </p>
    </div>

    <div style="grid-column: 5 / -1;">
        <!-- 2 -->
        <h2>JASA-HP exceeds all DOT specifications.</h2>
        <p>
            The material is engineered to coat multiple aggregates and can be custom blended.
        </p>
    </div>

</div>

<div class="products-sidebar-right">

    <div class="products-sidebar-right-header">
        <h1>SDS</h1>
    </div>
    <div>
        <a target="_blank" rel="noopener noreferrer" href="~/Content/Documents/sds/HPColdPatch-sds.pdf">
            <img src="~/Content/Images/sds/HPColdPatch.jpg" />
        </a>
    </div>

</div>
