@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

    <div class="products-grid">
        <div class="products-grid-image">
            <!-- 1 -->

        </div>

        <div class="products-text-row">
            <div>
                <ul>
                    <li>
                        <p id="put-quote1"></p>
                    </li>
                </ul>
            </div>
            <h2>With enhanced low and high temperature properties, PASS resists low temperature cracking</h2>
            <p>
                Polymerized Asphalt Surface Sealer, or PASS, is an emulsion of a highly elastic polymer modified blend of a rejuvenation agent and asphalt.
                <span id="pull-quote1">With enhanced low and high temperature properties, PASS resists low temperature cracking,</span>
                as well as maintains and restores asphalt pavements without cracking or bleeding.
                Russell Standard is the only contractor in Pennsylvania to offer the licensed and patented, asphalt emulsion PASS.
            </p>
        </div>

        <div style="grid-column: 5 / -1;">
            <!-- 3 -->
            <p>
                Combining the unique characteristics of PASS with readily available aggregate and a specially designed drag broom,
                Russell Standard has the ability to offer scrub seal. This process provides an economical treatment that fills cracks,
                rejuvenates worn asphalt pavement and provides a durable wearing course. <span id="pull-quote2">
                    Scrub seal is accomplished with a single
                    procedure
                </span> – often at a considerable lower cost than conventional crack sealing operations – and provides a membrane with resistance to reflective cracking.
            </p>
        </div>

        <div style="grid-column: 1 / -5; grid-row: 3; ">
            <ul>
                <li>Rejuvenates asphalt and extends the life of pavement regardless of its lifecycle stage</li>
                <li>Seals asphalt</li>
                <li>Fills cracks</li>
                <li>Provides a durable wearing course</li>
                <li>Resists future cracking</li>
                <li>Provides a membrane to resist reflective cracking</li>
            </ul>
        </div>

    </div>


    <div class="products-sidebar-right">
        <div class="products-sidebar-right-header">
            <h1>Get the brochure</h1>
        </div>
        <div>
            <img src="~/Content/Images/brochures/overview.jpg" />
        </div>

        <div class="products-sidebar-right-header">
            <h1>Safety Data Sheet</h1>
        </div>
        <div>
            <img src="~/Content/Images/sds/grip-tight.jpg" />
        </div>

    </div>

