@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

    <div class="products-grid">
        <div class="products-grid-image">
            <!-- 1 -->

        </div>

        <div class="products-text-row">
            <div>
                <ul>
                    <li>
                        <p id="put-quote1"></p>
                    </li>
                </ul>
            </div>
            <h2>Extreme temperatures and seasonal weather can produce hazardous potholes</h2>
            <p>

                <span id="pull-quote1">Extreme temperatures and seasonal weather can produce hazardous potholes.</span>
                Russell Standard maintains the ability to repair potholes returning roadways to smooth surfaces.
                In addition to our standard grade Cold Patch (containing CMS-2S (E12) only), we offer two proprietary products: PolyPave and JASA-HP.
                PolyPave
                Environmentally friendly, PolyPave includes no harmful solvent and does not omit any hydrocarbons into the atmosphere.
                Containing polymers for flexibility, roadway application of PolyPave can occur regardless of the time of year.
                PolyPave may be produced in ambient temperatures at a hot mix plant or at the job site in a portable pug mill and stays viable for up to one year.
                Additionally, water-filled holes can be addressed without compromising PolyPave’s cohesive ability to stay in the pothole.
            </p>
        </div>

        <div style="grid-column: 5 / -1;">
            <ul>
                <li>Low VOC material</li>
                <li>Works in water</li>
                <li>Works in extreme temperatures</li>
                <li>Can be produced via portable pugmill or asphalt plant</li>
                <li>Long-lasting repair results when applied properly</li>
            </ul>
        </div>

    </div>

    <div class="products-sidebar-right">

        <div class="products-sidebar-right-header">
            <h1>Get the brochure</h1>
        </div>
        <div>
            <img src="~/Content/Images/brochures/overview.jpg" />
        </div>

        <div class="products-sidebar-right-header">
            <h1>Safety Data Sheet</h1>
        </div>
        <div>
            <img src="~/Content/Images/sds/grip-tight.jpg" />
        </div>

    </div>


