@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="video">
    <video muted autoplay loop>
        <source src="~/Content/Images/small_movie.mp4" type="video/mp4" />
    </video>
</div>
<div class="label-nav">
    <span id="label1" onmouseover="loadLabel1()">
        Location
    </span>
    <span id="label2" onmouseover="loadLabel2()">
        Values
    </span>
    <span id="label3" onmouseover="loadLabel3()">
        About
    </span>
</div>

<div class="label-box">
    <div class="label-box-inner clearfix">
        <div class="label1-text">
            <p>
                Headquartered in Pittsburgh, PA.
            </p>
            <p>
                Our corporate office is where we control and manage all facilities within our family.
            </p>
        </div>
        <div class="label2-text">
            <p>
                Our commitment to safety is at the heart of everything we do. Our services strongly emphasize employee training and 
                job-site safety for both our crews and the public.
            </p>
            <p>
                Helping good people succeed is a core value for Russell Standard. For over 90 years, 
                the company has realized that our number one asset is our employees.
            </p>
        </div>
        <div class="label3-text">
            <p>
                Russell Standard Corporation provides paving materials and services for the road construction industry.
            </p>
            <p>
                As an area of continual development and innovation, Russell Standard maintains a significant 
                number of industry-changing asphalt emulsions each with unique characteristics and specialized uses.
            </p>
        </div>
    </div>
</div>

<div class="about-grid-container">

    <div class="col-1">
        <h1>Location</h1>
        <p>
            Headquartered in Pittsburgh, PA.
        </p>
        <div class="about-col1-img"></div>
    </div>

    <div class="col-2">

        <h1>Corporate</h1>
        <p>
            Our corporate office is where we control and manage all facilities within our family.
        </p>
        <div class="about-col2-img"></div>
    </div>

    <div class="col-3">

        <h1>Management</h1>
        <p>
            Our corporate office is where we control and manage all facilities within our family.
        </p>
        <div class="about-col3-img"></div>
    </div>

    <div class="col-1">
        <h1>Innovative</h1>
        <p>
            Innovative thinking is the reason Russell Standard is an industry leader,
            and has led us to offer and develop the industry’s latest specialty products.
        </p>
        <div class="about-col4-img"></div>
    </div>

    <div class="col-2">
        <h1>Experienced</h1>
        <p>
            Russell Standard offers superior cold mix asphalts approved by various state agencies. We also have the ability to 
            manufacture on location and produce cold mix asphalt in state-approved, trailer-mounted portable asphalt plants.
        </p>
        <div class="about-col5-img"></div>
    </div>

    <div class="col-3">
        <h1>State of the art</h1>
        <p>
            Each plant includes a laboratory with certified personnel that design
            and test material and aggregate sources.
        </p>
        <div class="about-col6-img"></div>
    </div>

</div>

<div class="about-grid-row1">
    <div class="about-list1">
        <ul>
            <li>
                <p>90 years of innovation and technology for our customers.</p>
            </li>
            <li>
                <p>We meet our customers’ ever-changing needs and enable them to build a better infrastructure in their communities.</p>
            </li>
            <li>
                <p>We specialize in asphalt maintenance, road preservation and repair.</p>
            </li>
            @*<li>
                <p>Our Core Purpose: Improving communities through better infrastructure</p>
            </li>
            <li>
                <p>Our Vision: Be the best and most sought after contracting services and materials provider in every market we serve by both customers and employees</p>
            </li>*@
        </ul>
    </div>
    <div class="about-list1-img">
    </div>
</div>

<div class="about-grid-row2">
    <div class="about-list2">
        <ul>
            <li>
                <p>Safety for our employees, our customers and the general public</p>
            </li>
            <li>
                <p>Trusting relationships with our customers and our communities</p>
            </li>
            <li>
                <p>Helping good people succeed</p>
            </li>
            <li>
                <p>Growing our business, driven by the quality of our products and services</p>
            </li>
            <li>
                <p>Teamwork</p>
            </li>
        </ul>
    </div>
    <div class="about-list2-img">
    </div>
</div>
<div class="about-splash">
    <p>Corporate's 2019</p>
    <p> Day of service project.</p>
    <div class="about-blurry">
    </div>
</div>


<div class="about-map-row">
    <div class="about-map-col1">
        <p></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.6746603896363!2d-79.86376787436612!3d40.50457676352734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834ecd02447d963%3A0xc71cc0a45e9d048c!2s285+Kappa+Dr%2C+Pittsburgh%2C+PA+15238!5e0!3m2!1sen!2sus!4v1535129927307" frameborder="0" style="border: 0" allowfullscreen></iframe>
    </div>
    <div class="about-map-col2">
    </div>
</div>


<div class="info-icon-wrapper">
    <div class="info-icon-container">
        <ul>
            <li class="fade-in-right">
                <p>Russell Standard</p>
                <ul>
                    <li><a href="./default.aspx">Home</a></li>
                    <li><a href="./aboutrussell.aspx">About</a></li>
                    <li><a href="./careers.aspx">Careers</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="fade-in">
                <p>Hammaker East</p>
                <ul>
                    <li><a href="./hammakereast/hammakereast.aspx">Home</a></li>
                    <li><a href="./hammakereast/abouthammaker.aspx">About</a></li>
                    <li><a href="./careers.aspx">Careers</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="fade-in-left">
                <p>Sterlingwood</p>
                <ul>
                    <li><a href="./sterlingwood/sterlingwood.aspx">Home</a></li>
                    <li><a href="./sterlingwood/aboutsterlingwood.aspx">About</a></li>
                    <li><a href="./sterlingwood/careerssterlingwood.aspx">Careers</a></li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- End info icon container -->
</div>
<!-- End info icon wrapper -->



<div class="brochure-bottom-container">
    <div class="brochure-bottom-left">

        <div class="brochure-bottom-left-image">
            <img src="~/Content/Images/diamond-waterford.jpg" alt="diamond achievement plaque for waterford plant" />
        </div>
        <h2>Diamond Achievement Award</h2>
        <h1>Waterford plant</h1>
        <p>
            When it comes to manufacturing, Russell Standard understands the importance of quality materials
            when working on a construction or maintenance project.
            <br />
            After all,
            the materials used in these projects are Russell Standard manufactured products.
        </p>
        @*<a class="global-link link1" onclick="linkAlert()" title="Alert">Test Link1</a>*@
    </div>

    <div class="brochure-bottom-right">

        <div class="brochure-bottom-right-image">
            <img src="~/Content/Images/diamond-erie.jpg" alt="diamond achievement plaque for erie plant" />
        </div>

        <h2>Diamond Achievement Award</h2>
        <h1>Erie plant</h1>
        <p>
            For Russell Standard, resurfacing parking lots is a turnkey operation.
            Whatever level of work is needed, we get the job done to perfection.
            <br />
            Our asphalt products and proven methods of application can make quick work of any parking lot project.
        </p>
        @*<a class="global-link link2" onclick="linkAlert()" title="Alert">Test Link2</a>

        <script>
            function linkAlert() {
                alert("This link works!");
            }
        </script>*@
    </div>
</div>
<!-- end brochure bottom container -->

<div class="associates-bg">
    <div class="associates">
        <h1>Proud associates of</h1>
        <div class="associates-logos">
            @*<img src="~/Content/Images/trademarks/associates/aema.png" alt="asphalt emulsions manufacturer association logo" />*@
            @*<img src="~/Content/Images/trademarks/associates/napa.jpg" alt="national asphalt pavement association logo" />*@
            <img src="~/Content/Images/trademarks/associates/aema2.png" alt="pavement preservation recycling alliance logo" />
            <img src="~/Content/Images/trademarks/associates/issa.png" alt="pavement preservation recycling alliance logo" />
            <img src="~/Content/Images/trademarks/associates/arra.png" alt="pavement preservation recycling alliance logo" />
            <img src="~/Content/Images/trademarks/associates/penndot.png" alt="pennsylvainia department of transportation logo" />
            <img src="~/Content/Images/trademarks/associates/ppra.png" alt="pavement preservation recycling alliance logo" />
        </div>

    </div>
</div>

