@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


    <div class="growth-container">
        <h1>As a well established company we've been around since the 1920's and have been growing steadily ever since. </h1>
        <h2>growth</h2>
        <img src="~/Content/Images/boat.jpg" />
        <img src="~/Content/Images/boat2.jpg" />
        <img src="~/Content/Images/boat3.jpg" />
        <img src="~/Content/Images/boat4.jpg" />
        <p style="font-style: italic; font-family: 'Bookman Old Style';">Here is a recent shipment of Asphalt Cement couriered all the way from Ravenna Italy</p>
    </div>


