@{
    Layout = "~/Views/Shared/_HammakerLayoutPage.cshtml";
}

<div class="hammaker-header">
    @*<div>
            <img style="width: 400px; margin-bottom: 20px;" src="~/Content/Images/trademarks/Hammaker-logo.svg" alt="Hammaker East Logo" />
        </div>*@
    @*<h1>Hammaker East LTD</h1>*@
    <h2></h2>
    @*<ul>
            <li><p>Servicing state and local governments and private contractors</p></li>
            <li><p>Specializes in roadway maintenance and repair</p></li>
            <li><p>Delivering paving materials and services to the road construction industry</p></li>
        </ul>*@
</div>

<div class="quote-line-left">
    <div><p>&#10077</p></div>
</div>
<div class="monkey">
    <p>
        With a highly trained and dedicated team, we meet our customers’ ever-changing needs and enable them to build a better infrastructure
        in their communities.
    </p>
</div>
<div class="quote-line-right">
    <div><p>&#10078</p></div>
</div>

<div class="skippy">
    <div class="hammaker-zip">
        <div>
            <h2>Preservation</h2>
            <p>
                A subsidiary of Russell Standard Corporation, Hammaker East maintains offices in
                Fayetteville, PA with operations that include plants in Chambersburg, PA, Baltimore, MD, Black Mountain, NC, and Greensboro, NC.
            </p>
            <img src="~/Content/Images/pexels/street2.jpg" />
        </div>
    </div>
    <div class="hammaker-zen">
        <div>
            <h2>Road Repair</h2>
            <p>
                Servicing state and local governments and private contractors, Hammaker East LTD. specializes in roadway service maintenance and repair by delivering paving materials and services to the road construction industry.
            </p>
            <img src="~/Content/Images/pexels/street1.jpg" />
        </div>

    </div> <!-- End hammaker row zen-->
    <div class="hammaker-zap">
        <div>
            <h2>Maintenance</h2>
            <p>
                With a highly trained and dedicated team, we meet our customers’ ever-changing needs and enable them to build a better infrastructure
                in their communities.
            </p>
            <img src="~/Content/Images/pexels/street3.jpg" />
        </div>
    </div>
</div> <!--end skippy-->


<div class="hammaker-list">
    <div class="hammaker-list-left">
        <ul>
            <li><h2>Hammaker East</h2></li>
            <li>
                <p>
                    91 years of innovation and technology for our customers.
                    Hammaker East LTD has been providing the community with quality asphalt emulsion products and services at since 1923.
                </p>
            </li>
        </ul>
        <ul>
            <li><h2>Emulsions</h2></li>
            <li><p>The emulsions we produce undergo rigorous observation and testing to ensure we deliver only the highest quality materials.</p></li>
        </ul>
    </div>
    <div class="hammaker-list-right">
        <ul>
            <li><h2>Quality Assurance</h2></li>
            <li><p>Quality Assurance is a strategy of prevention. We focus on planning, documenting and agreeing on a set of guidelines that are necessary to maintaining a certain level of quality.</p></li>
        </ul>
        <ul>
            <li><h2>Pavement Preservation</h2></li>
            <li><p>Hammaker East LTD has been providing the community with quality asphalt emulsion products and services at since 1923</p></li>
        </ul>
    </div>
</div>

<div class="hammaker-leaf">
    <div></div>
</div>

<div class="hammaker-core-values">
    <ul>
        <h2>Core Purpose, Vision and Values</h2>
        <li><p>Safety for our employees, our customers and the general public</p></li>
        <li><p>Trusting relationships with our customers and our communities</p></li>
        <li><p>Helping good people succeed</p></li>
        <li><p>Growing our business, driven by the quality of our products and services</p></li>
        <li><p>Teamwork</p></li>
        <li><p>Improving communities through better infrastructure</p></li>
    </ul>
    @*<ul>
        <h2></h2>

        <li><p>Trusting relationships with our customers and our communities</p></li>
        <li><p>Helping good people succeed</p></li>
        <li><p>Growing our business, driven by the quality of our products and services</p></li>
        <li><p>Teamwork</p></li>
    </ul>*@
</div>

@*<img src="~/Content/Images/thumb2.jpg" />
    <img src="~/Content/Images/thumb10.jpg" />*@

@*We specialize in asphalt maintenance, preservation and repair in addition to offering a full range of asphalt
    emulsions, hot and cold asphalt mixes, and asphalt protective coatings to state and local governments and contractors who are performing
    their own paving projects. For over ninety years, Hammaker East has built a strong reputation for providing unique and
    innovative specialty products, along with the customer service and technical support to ensure successful project completion.*@

@*Acquired by Russell Standard in 1992, the company is a leading provider of paving materials and services for the road construction industry.*@