@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="hero-container">
    <div class="hero-inner" id="hero-img" style="background:url(../Content/Images/old-building.jpg) no-repeat center; background-size: cover;">
    </div>
</div>
<div class="history-hero-circle">
    <h1>Russell Standard <span style="color: #c4161c;
        text-align: left;
        position: relative;
        width: 160px;
        font-family: 'Bookman Old Style';
        font-style: italic;">Timeline</span></h1>
    <p>Established 1929</p>
</div>
<div class="history-sidebar">
    <ul>
        <li><h2>Timeline</h2></li>
        <li>1929</li>
        <li>1930</li>
        <li>1940</li>
        <li>1957</li>
        <li>1974</li>
    </ul>

    <div class="art-circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>
<div class="history-grid-wrapper">
    <div class="history-grid-container">

        <div class="history1">
            <!-- 1 -->
            <h1>About</h1>
        </div>
        <p>
            Russell Standard Corporation, headquartered in Pittsburgh, PA,
            is a leading provider of paving materials and services for the road construction industry.
        </p>

        <div class="history2">
            <!-- 2 -->
            <h1>1929</h1>
        </div>
        <p>
            In the spring of 1929, Niles E. Russell founded Russell Standard Corporation to distribute
            municipal supplies throughout southwestern Pennsylvania.
        </p>
        <div class="history3">
            <!-- 3 -->
            <h1>1930's</h1>
        </div>
        <p>
            By the late 1930’s, Russell Standard was building rural roads to facilitate
            the transportation of agricultural goods to and from local farms.
        </p>
        <div class="history4">
            <!-- 4 -->
            <h1>1940's</h1>
        </div>
        <p>
            Soon after,
            the company began distributing liquid asphalt for road building. In the following decades,
            paving crews, hot mix asphalt plants, and liquid asphalt emulsion plants were
            added to the Russell Standard family of products and services.
        </p>
        <div class="history5">
            <!-- 5 -->
            <h1>1957 - 1958</h1>
        </div>
        <p>
            First hotmix plant built in Mars, second in Irwin.
        </p>
        <div class="history6">
            <!-- 6 -->
            <h1>1974</h1>
        </div>
        <p>
            Acquired Mercer plant.
        </p>

        @*<div class="history7">
            <!-- 8 -->
            <h1>1980's</h1>

        </div>
        <p>
            Russell Standard Corporation, headquartered in Pittsburgh, PA,
            is a leading provider of paving materials and services for the road construction industry.
        </p>

        <div class="history8">
            <!-- 9 -->
            <h1>1990's</h1>

        </div>
        <p>
            In the spring of 1929, Niles E. Russell founded Russell Standard Corporation to distribute
            municipal supplies throughout southwestern Pennsylvania.
        </p>
        <div class="history9">
            <!-- 10 -->
            <h1>2000's</h1>

        </div>
        <p>
            By the late 1930’s, Russell Standard was building rural roads to facilitate
            the transportation of agricultural goods to and from local farms.
        </p>
        <div class="history10">
            <!-- 11 -->
            <h1>2010's</h1>

        </div>
        <p>
            Soon after,
            the company began distributing liquid asphalt for road building. In the following decades,
            paving crews, hot mix asphalt plants, and liquid asphalt emulsion plants were
            added to the Russell Standard family of products and services.
        </p>
        <div class="history11">
            <!-- 12 -->
            <h1>2015</h1>

        </div>
        <p>
            First hotmix plant built in mars, second in irwin.
        </p>*@
        <div class="history12">
            <!-- 13 -->
            <h1>2019</h1>

        </div>
        <p>
            Adapting to the flow and demand of the market we are now heavily focusing our efforts on one of our main skill sets, pavement
            preservation.
        </p>

    </div> <!-- End history grid container -->
</div> <!-- End history grid wrapper -->



