@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="safety-container">
    <div class="safety-header">
        <h1>Safety is one of our core values and will always be our highest priority.</h1>
        <h2>Our commitment to safety is at the heart of everything we do.</h2>
        <p>
            Our services strongly emphasize employee training and job-site safety for both our crews and the public.
            Our products focus on creating innovative solutions that combat road surface issues from the foundation to preservation and repair.
            Our specialty products carry numerous benefits that include being environmentally friendly, which requires minimal crews and quick curing
            times; and extending surface life. This core value of safety allows Russell Standard to continue to be successful for years to come.
            As environmental concerns become increasingly important for all of us, it’s worth noting that we offer specially developed GREEN
            cold mix asphalt that emits low doc hydrocarbons. These emissions are much lower than the standard mixes and materials provide.
            Additionally, only Russell Standard can deliver this kind of high-quality cold mix asphalt product with on-the-spot convenience.
            Emulsions are as environmentally friendly as asphalt can be for a crude oil product and are 100% recyclable, making them the most
            recycled product in the world.
        </p>
    </div>
    
    <img src="~/Content/Images/worker1.jpg" />
    <img src="~/Content/Images/workers.jpg" />
    <img src="~/Content/Images/workers2.jpg" />
    <img src="~/Content/Images/mini-truck.jpg" />
</div>


