@{
    Layout = "~/Views/Shared/_SterlingwoodLayoutPage.cshtml";
}

@*<div class="sterlingwood-grid-container">

        <div class="sterlingwood-grid-container-header">

            <div class="sterlingwood-logo">
                <img src="~/Content/Images/trademarks/sw.png" />
            </div>
            <h2>Sterlingwood</h2>

        </div>

    </div>*@

<div class="sterlingwood-header">
    @*<img style="width: 120px; margin-bottom: 20px; object-fit:contain;" src="~/Content/Images/trademarks/sw.png" alt="Sterlingwood Logo" />*@
    @*<h1>Sterlingwood</h1>
    <h2></h2>*@
    @*<ul>
        <li><p>Servicing state and local governments and private contractors</p></li>
        <li><p>Specializes in roadway maintenance and repair</p></li>
        <li><p>Delivering paving materials and services to the road construction industry</p></li>
    </ul>*@
</div>

<div class="sterlingwood-grid-container">
    <div id="sterlingwood-zappa"><p>About Sterlingwood</p></div>
    <div>
        <div class="sterlingwood-textblock">
            <p>
                91 years of innovation and technology for our customers.

            </p>
        </div>

        <img src="~/Content/Images/sw1.jpg" />

        <div class="sterlingwood-textblock">
            <p>
                A subsidiary of Russell Standard Corporation, Hammaker East maintains offices in
                Fayetteville, PA with operations that include plants in Chambersburg, PA, Baltimore, MD, Black Mountain, NC, and Greensboro, NC.
            </p>
        </div>

        <img src="~/Content/Images/thumb4.jpg" />

    </div>

    <div>
        <div class="sterlingwood-textblock">
            <p>
                With a highly trained and dedicated team, we meet our customers’ ever-changing needs and enable them to build a better infrastructure
                in their communities.
            </p>

        </div>

        <img src="~/Content/Images/sw2.jpg" />

        <div class="sterlingwood-textblock">
            <p>
                Acquired by Russell Standard in 1992, the company is a leading provider of paving materials and services for the road construction industry.
            </p>
        </div>

    </div>

    <div>

        <div class="sterlingwood-textblock">
            <p>
                A subsidiary of Russell Standard Corporation, Hammaker East maintains offices in
                Fayetteville, PA with operations that include plants in Chambersburg, PA, Baltimore, MD, Black Mountain, NC, and Greensboro, NC.
            </p>

            <img src="~/Content/Images/thumb8.jpg" />

        </div>

        <div class="sterlingwood-textblock">
            <p>
                For over ninety years, Hammaker East has built a strong reputation for providing unique and
                innovative specialty products, along with the customer service and technical support to ensure successful project completion.
            </p>

        </div>
    </div>


</div> <!-- End sterlingwood grid container -->
