@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="hammaker-fun">
    <progress id="orb" value="0" max="100"></progress>
    <div class="hammaker-arrows-box">
        <div class="arrow-left" onclick="orbLeft(this)">
            &larr;
        </div>
        <div class="arrow-right" onclick="orbRight(this)">
            &rarr;
        </div>
        <div class="arrow-top" onclick="orbTop(this)">
            &uarr;
        </div>
        <div class="arrow-bottom" onclick="orbBottom(this)">
            &darr;
        </div>
    </div>
</div>

@{
    var avar = "cshtml razor variable right here...";
}
<p>@avar</p>

<p style="grid-column: 1 / -1; max-width: 500px; padding: 10px;">
    During my time at Russell Standard I created a program that would run periodically, backing up local databases to remote servers.

    Created a program that could randomly select 5 people at a time from all of the employees in the outlook address book. This was used for
    email phising prevention.

    Also created a program that could open outlook and listen for incoming messages from certain senders.
    When a message from a specific sender is recieved, my program would have the ability to automatically perform
    actions on the email such as moving it, downloading attachments to specific locations, or
    automatically replying.

    Met with clients on a regular basis to maintain an open dialog into the development of the website

    Prioritzed a mobile-friendly, responsive design to ensure Russell Standards brand continuity across all browsers and device platforms.


    Singlehandedly developed, designed and tested a new company website.
    Expanded knowledge of object oriented programming in the process. Refined
</p>


