@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <div class="vision-container">
        <h1>Our vision is improving communities through better infrastructure.</h1>
        <h2>Vision</h2>
    </div>


