
/*font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;*/

:root {
    --font-family-open: 'Open Sans', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-weight-bold: bold;
    --line-height: 1.6;
    --letter-spacing: .060em;
    --font-size-smallest: .8rem;
    --font-size-small: .85rem;
    --font-size-regular: .9rem;
    --font-size-large: 1.1rem;
    --font-size-xlarge: 1.3rem;
    --font-size-xxlarge: 1.4rem;
    --font-size-xxxlarge: 1.8rem;
    --font-size-xxxxlarge: 2.4rem;
    --background-color: #005192;
    --color-text-default: #0b1016;
    --color-text-default: #363738;
    --color-text-link: #2c4159;
    --color-text-grey: #848d95;
    --color-text-character: #475867;
    --color-text-h1darkblue: #2c4159;
    --color-text-h1darkblue: #18375a;
    --color-text-pdarkblue: #072641;
    --color-text-blue: #8db3cb;
    --color-text-lightblue: #cce4fb;
    --color-text-lighterblue: #edf6ff;
    --color-text-darkblue: #384d64;
    --color-text-deepblue: #072641;
    --color-text-lessdeepblue: #0a355a;
}



  body {
	
  }


  p, li, h1, h2 {
	  font-family: Arial;
	  line-height: 1.6;
      letter-spacing: var(--letter-spacing);
      color: var(--color-text-default); 
  }


p {
    font-size: var(--font-size-regular);
}
h1 {
    font-size: var(--font-size-xxxlarge);
    font-family: var(--font-family-open);
}
h2 {
    font-size: var(--font-size-xxlarge);
    font-family: var(--font-family-open);
}

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

 
.super-title {
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: left;
    grid-column: 1 / 3;
    width: 100%;
    position: relative;

}

.center-title {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    align-content: flex-end;
    vertical-align: bottom;
    grid-column: 3 / 5;
}
.center-title h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxlarge);
}
    .center-title h2 {
        font-size: var(--font-size-xxlarge);
    }

.branding-container {
    text-align: center;
}
.header {
    margin: 0 auto;
    width: 400px;
}
.header h1 {
    margin: 2% 0 0 0;
    font-size: var(--font-size-large);
    color: var(--color-text-h1darkblue);
    text-align: left;
}
.branding-splash {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-image: url("../images/paved_road2.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.branding-list {
    margin: 0 0 3% 2%;
}
.branding-list ul {
    margin: 0 auto;
    width: 400px;
}
    .branding-list ul li {
        list-style: disc;
        text-align: left;
        font-size: var(--font-size-regular);
    }


.logo-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2% 0 0 0;
}
.logo1, .logo2, .logo3, .logo4, .logo5, .logo6 {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.logo1 {
    background-image: url("../images/trademarks/rs.png");
}
.logo2 {
    background-image: url("../images/trademarks/russell-grey.png");
}
.logo3 {
    background-image: url("../images/trademarks/he.png");
}
.logo4 {
    background-image: url("../images/trademarks/hammaker-grey.png");
}
.logo5 {
    background-image: url("../images/trademarks/sw.png");
}
.logo6 {
    background-image: url("../images/trademarks/sterlingwood-grey.png");
}



.row-information1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2% 0 0 0;
    font-size: var(--font-size-regular);
}
.logo-info1 {
    grid-column: 2 / 3;
}
.logo-info2 {
    grid-column: 3 / 5;
}
.logo-info3 {
    grid-column: 5 / 6;
}



.page-ul {
    position: relative;
    margin: 10px 0 0 20px;
    z-index: 10;
}
    .page-ul li {
        padding: 6px 0 0 0;
        z-index: 10;
    }
        .page-ul li a {
            text-decoration: none;
            line-height: 1.6;
            z-index: 10;
            color: #6c6c6c;
        }

        .page-ul li a:hover {
            text-decoration: underline;
        }
    .liney-animation {
        position: absolute;
        height: 1000px;
        width: 100%;
        left: 4%;
        background-image: url("../images/liney.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
.liney-cover {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: -300px;
    border-radius: 100px;
    width: 3000px;
    height: 1600px;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0) );
    animation: liney-cover 6s infinite;
    visibility: hidden;
}
@keyframes liney-cover {
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(0px, -1400px);
    }
}

.liney-cover2 {
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: -1700px;
    border-radius: 100px;
    width: 3000px;
    height: 1400px;
    background: linear-gradient( rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) );
    animation: liney-cover2 6s infinite;
    visibility: hidden;
}

@keyframes liney-cover2 {
    0% {
        visibility: visible;
    }
    100% {
        transform: translate(0px, -1600px);
    }
}

.road-container {
    position: absolute;
    top: 120px;
    z-index: 10;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    grid-column: 4 / -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    opacity: 0;
}
.road-row1 {
    grid-column: 1 / -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.cone1-x {
    display: none;
    z-index: 30;
    background-image: url(../images/x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 300px;
    top: 20px;
    animation: cone-x 1s forwards;
    animation-delay: 1.5s;
    visibility: hidden;
}
@keyframes cone-x {
    0% {
    }
    100% {
        visibility: visible;
    }
}




.cone1-info {
    margin: 0 auto;
    height: 20px;
    width: 120px;
    text-align: center;
    position: relative;
}
    .cone1-info p {
        top: 80px;
        left: -130px;
        position: absolute;
        background-color: #6d747b;
        color: #fff;
        margin: 0 auto;
        border-radius: 10px;
        width: 100px;
        height: 60px;
    }
#check-or-x79 {
    position:absolute;
    bottom: 4px;
    left: 30px;
    background-image: url(../images/check.png);
    width: 30px;
    height: 30px;
    z-index: 3000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#check-or-x90 {
    position: absolute;
    bottom: 4px;
    left: 30px;
    background-image: url(../images/expoint.png);
    width: 30px;
    height: 30px;
    z-index: 3000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#check-or-x96 {
    position: absolute;
    bottom: 4px;
    left: 30px;
    background-image: url(../images/expoint.png);
    width: 30px;
    height: 30px;
    z-index: 3000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cone2-info {
    position: relative;
    margin: 0 auto;
    height: 20px;
    width: 120px;
    text-align: center;
}
    .cone2-info p {
        left: 340px;
        top: 200px;
        position: absolute;
        background-color: #6d747b;
        color: #fff;
        margin: 0 auto;
        border-radius: 10px;
        width: 100px;
        height: 60px;
    }
.cone3-info {
    position: relative;
    margin: 0 auto;
    height: 20px;
    width: 120px;
    text-align: center;
}
    .cone3-info p {
        left: -160px;
        top: 340px;
        position: absolute;
        background-color: #6d747b;
        color: #fff;
        margin: 0 auto;
        border-radius: 10px;
        width: 100px;
        height: 60px;
    }
.triangle img {
    position: absolute;
    bottom: -60px;
}
.road-row2 {
    grid-column: 1 / -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 160px 0 0 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.cone1 {
    position: absolute;
    background-image: url(../images/coney.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 280px;
    height: 140px;
    width: 140px;
    visibility: hidden;
    animation: cones 1s infinite alternate;
    animation-delay: 1.3s;
}
.cone2 {
    position: absolute;
    background-image: url(../images/coney.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 400px;
    top: 200px;
    height: 140px;
    width: 140px;
    visibility: hidden;
    animation: cones-over 1s forwards;
    animation-delay: 1.5s;
}
.cone3 {
    position: absolute;
    background-image: url(../images/coney.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    left: 260px;
    top: 400px;
    height: 140px;
    width: 140px;
    visibility: hidden;
    animation: cones-over 1s forwards;
    animation-delay: 1.7s;
}
@keyframes cones-over {
    0% {

    }

    50% {

    }

    100% {
        visibility: visible;
        transform: rotate(90deg);
    }
}
@keyframes cones {
    0% {
        visibility: visible;
    }

    50% {

    }
    100% {
        transform: translate(0px, -8px);
    }
}



.road {
    z-index: 10;
    grid-column: 1 / -1;

    position: relative;
    bottom: -50px;
}
.road-drawing {
    width: 600px;
    height: 600px;
    background-image: url("../images/road.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}





  .tankmation-container {
      grid-column: 4 / 6;
	  opacity: 0;
	  margin: 10px;
	  position: relative;
      z-index: 10;
  }
  
    .tankmation-container img {
	  border-radius: 10px;
      max-width: 700px;
  }
.tankmation-cover {
    position: absolute;
    z-index: 5;
    background-color: #224488;
    background: linear-gradient(rgba(37, 99, 198, 0.90), rgba(42, 86, 147, 0.90));
    width: 420px;
    border-radius: 50%;
    height: 59px;
    left: 98px;
    bottom: 60px;
    animation: tankmation .2s forwards;

    animation-delay: 1.2s;
}
    @keyframes tankmation {

	  100%  {
		  width: 28px;
	  }
  }

.fiftym-list {
    grid-column: 1 / 4;
    margin: 0 auto;
}

    .fiftym-list p {
        padding: 20px 0 0 0;
        font-size: 1.6rem;
        font-weight: bold;
        color: #1f2f3f;
        max-width: 500px;
    }

    .fiftym-list ul li {
        font-size: 1.2rem;
        list-style: circle;
        color: #3f4f5f;
        padding: 10px 0 0 0;
        margin: 0 0 0 16px;
        max-width: 500px;
    }



.fiftymillion-container {
    z-index: 10;
    grid-column: 4 / 6;

    position: relative;
    width: 768px;
    height: 326px;
    overflow: hidden;
    box-shadow: 3px 3px 6px #6c6c6c;
}

.fiftymillion-dollar-empty {
    z-index: 20;
    margin: 0;
    position: absolute;
    /*background-image: url(../images/empty-dollar2.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgba(255, 255, 255, 0.96);
    right: 0;
    width:  100%;
    height: 100%;
    animation: fiftydollar 2s forwards;
    animation-delay: 1.2s;
}

.fiftymillion-dollar-full {
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../images/full-dollargreen.jpg);
    background-size: contain;
    background-repeat:no-repeat;
    box-shadow: 3px 3px 6px #6c6c6c;
}

@keyframes fiftydollar {
    0% {
        width: 100%;
    }
    100% {
        width: 80%;
       
    }
}

.dollar-scale {
    position: absolute;
    left: 860px;
    top: 274px;
    z-index: 30;
}
    .dollar-scale ul li {
        margin-top: 0px;
        margin-left: 60px;
        text-decoration: underline;
        display: inline-block;
        /*transform: rotate(-40deg);*/
    }


.border-container {
    position: relative;
    border-top: 12px solid #abd6ff;
    border-right: 12px solid #5da9f2;
    border-bottom: 12px solid #659fd7;
    border-left: 12px solid #7bbcfb;
    z-index: 13;
}

.master-container {
    display: grid;
    opacity: 0;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    height: auto;

    padding: 40px;
    /*border-top: 6px solid #fb7b7b;
    border-right: 6px solid #db3f3f;
    border-bottom: 6px solid #c14444;
    border-left: 6px solid #f18080;
*/
}


.bar-list {
	grid-column: 2 / 4;
}
.bar-list p {
  padding: 20px 0 0 0; 
  font-size: 1.6rem;
  font-weight: bold;
  color: #1f2f3f;
}
.bar-list ul li {
	font-size: 1.2rem;
	list-style: circle;
	color: #3f4f5f;
	padding: 10px 0 0 0;
	margin: 0 0 0 16px;
	max-width: 500px;
}
.bar-chart {
position: absolute;
left: -40px;
}
.bar-chart ul {
float: left;
margin-right: 10px;
}
.bar-chart ul li{
	padding: 20px 0 0 0;
}
.bar{
    z-index: 10;
	grid-column: 4 / 6;
	position: relative;
	width: 98%;
	height: 300px;
	margin: 10px 10px 0 0;
	border-bottom: 2px solid #102132;
	border-left: 2px solid #102132;
}
.bar p {
	position: absolute;
	font-size: .85rem;
	width: 98%;
	padding: 0 0 0 10px;
	border-bottom: 1px solid #102132;
}
.bar-fuel {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #112233;
	animation: emulsions 3s forwards;
		animation-delay: .5s;
}













  @keyframes emulsions {
	  0%{
		  height: 0;
	  }
	  100%{
		height: 180px;
	  }
  }

  

.truck-row {
    grid-column: 1 / -1;
    grid-row: 2;
	display: grid;
	opacity: 0;
	grid-template-columns: repeat(6, 1fr);
	height: auto;
    z-index: 1;
}
.truck {
  grid-column: 4 / 6;
  margin-top: 20px;
  z-index: 10;
}
.truck-image {
	position: relative;
	padding: 10px 40px 10px 10px;
}
.truck-image img {
	max-width: 600px;
}
.truck-list {
	grid-column: 2 / 4;
    grid-row: 1;
} 
.truck-list p {
  padding: 20px 0 0 0; 
  font-size: 1.6rem;
  font-weight: bold;
  color: #1f2f3f;
} 
.truck-list ul {
}
    .truck-list ul li {
        font-size: 1rem;
        list-style: circle;
        color: #3f4f5f;
        padding: 10px 0 0 0;
        margin: 0 0 0 16px;
        max-width: 400px;
    } 
  #truck-fill {
	background-color: #112233;
	top: 111px;
	left: 20px;
	position: absolute;
	height: 66px;
	display: none;
	float: left;
	opacity: .5;
	width: 20px;
	border-radius: 50px;
	animation: truck-fill 2s forwards;
	animation-delay: .5s;
  }

  
  @keyframes truck-fill {
		0% {
			
			}
		100% {
			width: 280px;
			border-radius: 12px;
			}
	  
  }

















  .ac-graph-row {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	height: auto;
	margin-top: 100px;
	opacity: 0;
  }
  .ac-list {
	grid-column: 2 / 4;
}
.ac-list p {
	padding: 20px 0 0 0; 
	font-size: 1.6rem;
	font-weight: bold;
	color: #1f2f3f;
}
    .ac-list ul li {
        font-size: 1rem;
        list-style: circle;
        color: #3f4f5f;
        padding: 10px 0 0 0;
        margin: 0 0 0 16px;
        max-width: 500px;
    }

.ac-image-container {
    z-index: 3;
    grid-column: 4 / 6;
    position: relative;
}

    .ac-image-container img {
        width: 600px;
        border-radius: 10px;
        box-shadow: 3px 4px 10px #6c6c6c;
    }
    #ac-second-list {
        list-style: decimal;
    }
.ac-image-animation {
    position: absolute;
    bottom: 53px;
    left: 110px;
    background-color: rgba(27, 52, 92, .6);
    width: 53px;
    height: 0;
    animation: ac-image-animation 1.2s forwards;
    animation-delay: .5s;
}
@keyframes ac-image-animation {
    0% {
    }
    100% {
        height: 300px;
    }

}

.emulsions-container {
    z-index: 3;
    grid-column: 4 / 6;
    position: relative;    

}
.emulsions-image-container {
    z-index: 3;
    grid-column: 4 / 7;
    position: relative;

}

    .emulsions-image-container img {
        width: 600px;
        border-radius: 10px;
        box-shadow: 3px 4px 10px #6c6c6c;

    }
    .emulsions-container img {
        width: 600px;
        border-radius: 10px;
        box-shadow: 3px 4px 10px #6c6c6c;
    }

#emulsions-second-list {
    list-style: decimal;
}

.emulsions-image-animation {
    position: absolute;
    bottom: 4px;
    left: 375px;
    transform: rotate(-1deg);
    background-color: rgba(5, 22, 39, .5);
    background-image: linear-gradient(to top, rgba(121, 213, 194, 0.30), rgba(152, 255, 217, 0.60));
    width: 132px;
    height: 0px;
    border-radius: 60px 60px 0 0;
    animation: emulsions-animation 1.2s forwards;
    animation-delay: 1.2s;
}

@keyframes emulsions-animation {
    0% {
    }

    100% {
        border-radius: 10px 10px 0 0;
        height: 227px;
    }
}


.tanky-container {
}
.tanky {
    position: relative;
    background-image: url("../images/tanky.png");
    height: 700px;
    width: 700px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.tanky-filler {
    background-color: rgba(26, 25, 25, 0.71);
    position: absolute;
    width: 200px;
    animation: tanky-image-animation 1.2s forwards;
    animation-delay: .5s;
    bottom: 120px;
    left: 76px;
    border-radius: 60px 60px 0 0;
}
@keyframes tanky-image-animation {
    0% {
        height: 0px;
    }

    100% {
        height: 330px;
    }
}




.blocks-the-ac-text {
    border-radius: 20px 0 0 20px;
    background: linear-gradient( to left, rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, 1), 
    rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, .3), rgba(255,255,255, .0) );
    transform: translate(-200px, 0px);
    height: 100vh;
    width: 1600px;
    z-index: 2;
    position: absolute;
    left: 0;
    animation: blocky 3s forwards;
    animation-delay: .3s;
}
.blocks-the-emulsions-text {
    border-radius: 20px 0 0 20px;
    background: linear-gradient( to left, rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, 1), rgba(255,255,255, .8), rgba(255,255,255, .3), rgba(255,255,255, .0) );
    height: 100vh;
    width: 1200px;
    left: 44%;
    z-index: 2;
    position: absolute;
    animation: blocky 4s forwards;
    animation-delay: .3s;
}
  @keyframes blocky {
	  0%{

	  }
	  50%{

	  }
        100% {
            transform: translate(1700px, 0px);
        }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .hma-row {
	  display: grid;
	  grid-template-columns: repeat(6, 1fr);
	height: auto;
	margin-top: 100px;
	  opacity: 0;
  }
    .hma-list {
	grid-column: 4 / 6;
}
.hma-list p {
  padding: 20px 0 0 0; 
  font-size: 1.6rem;
  font-weight: bold;
  color: #1f2f3f;
}
        .hma-list ul li {
            font-size: 1rem;
            list-style: circle;
            color: #3f4f5f;
            padding: 10px 0 0 0;
            margin: 0 0 0 16px;
            max-width: 500px;
        }

.hma-graph {
	grid-column: 2 / 3;
	grid-row: 1;
	position: relative;
	width: 500px;
	height: 300px;
	margin: 10px 10px 0 0;

	overflow: hidden;
}
.hma-graph p {
	position: absolute;
	font-size: .85rem;
	width: 98%;
	padding: 0 0 0 10px;
	border-bottom: 1px solid #102132;
}
.hma-animation1 {
	background-image: url("../images/rs.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	animation: hma-animation 2s forwards;
	animation-delay: .5s;
	transform: translate(-300px, 0px);
	margin: 0 auto;
	margin-bottom: 10px;
	opacity: 0;
}
  .hma-animation2 {
	background-image: url("../images/he.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	animation: hma-animation 2s forwards;
	animation-delay: 1s;
	transform: translate(-300px, 0);
	margin: 0 auto;
	margin-bottom: 10px;
	opacity: 0;
}
    .hma-animation3 {
	background-image: url("../images/sw.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	animation: hma-animation 2s forwards;
	animation-delay: 1.5s;
	transform: translate(-300px, 0px);
	margin: 0 auto;
	margin-bottom: 10px;
	opacity: 0;
}
    @keyframes hma-animation {

		100% {
			opacity: .8;
			transform: translate(100px,0);
			}
	  
  }
  
  
  
.bubbles {

}
  .bubbles div:nth-child(1){
	animation: bubbles 2s infinite alternate;
	animation-delay: 0s;
	/* background-color: #ccccff; 	border-radius: 50px;*/
	background-image: url("../images/rs.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 40px;
	left: 3%;
	width: 30px;
	height: 30px;
	opacity: .6;
  }
    .bubbles div:nth-child(2){
	animation: bubbles 2s infinite alternate;
	animation-delay: .5s;
	/* background-color: #ffcccc; 	border-radius: 50px;*/
	background-image: url("../images/he.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 40px;
	left: 1%;
	width: 30px;
	height: 30px;
	opacity: .6;
  }
    .bubbles div:nth-child(3){
	animation: bubbles 2s infinite alternate;
	animation-delay: 1s;
	/* background-color: #ccffcc; 	border-radius: 50px;*/
	background-image: url("../images/sw.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 40px;
	left: 5%;
	width: 30px;
	height: 30px;
	opacity: .6;
  }
  
  
  
    @keyframes bubbles {

		100% {
			transform: translate(0px, -20px);
			}
	  
  }